.wrap h2 a {
    color: #222;
    text-decoration: none;
}

.sns-cnt-cache h3.hndle {
    font-size: 16px !important;
}

.sns-cnt-cache h4 {
  	font-size: 15px;
	padding: 15px 0 10px 0 !important;
	font-weight: 700;
}
	
.sns-cnt-cache .postbox .inside {
    padding: 0 10px;
}	
	
.sns-cnt-cache .view-table {
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.sns-cnt-cache .view-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.sns-cnt-cache .view-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sns-cnt-cache .view-table tr.home {
    border-bottom: 1px solid #dbdbdb;
}

.sns-cnt-cache .view-table th {
    vertical-align: middle;
    padding: 3px;
    text-align: left;
    background-color: #4c4c4c;
    color: #fff;
}

.sns-cnt-cache .pagination {
    margin: 10px 0;
}

.sns-cnt-cache .form-table .section-label {
    font-weight: 600;
	font-size: 1.3em;
}

.sns-cnt-cache .view-table td {
    vertical-align: middle;
    padding: 2px 4px;
    border: 1px dotted #dfdfdf;
}

.sns-cnt-cache .full-cache {
    color: #468847;
	/* color: #5cb85c; */
    /* background-color: #dff0d8 */;
}

.sns-cnt-cache .partial-cache {
    color: #f0ad4e;
    /* background-color: #dff0d8 */;
}

.sns-cnt-cache .no-cache {
    /* color: #d9534f; */
    /* background-color: #dff0d8 */;
    color: #ccc;  
}
		
		
.sns-cnt-cache .not-cached {
    color: #ccc;
}

.sns-cnt-cache .share-count {
    text-align: right;
}

.sns-cnt-cache .submit-button {
	margin: 20px 0;
}

.sns-cnt-cache a {
    text-decoration: none;
    color: #444;
    -webkit-transition-property: border,background,color;
    transition-property: border,background,color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.sns-cnt-cache a:hover {
    color: #0074a2;
}

.sns-cnt-cache .view-table th a {
    color: #fff;
}

.sns-cnt-cache a.sort-exec-key {
     text-decoration: underline; 
}

.pagination span, .pagination a {
    display: inline-block;
    padding: 2px 10px;
}
  
.pagination a {
    background: #555;
    color: #fff;
}

.pagination a:hover {
    background: #3279bb;
    color: #fff;
}

.pagination span.page-num {
    margin-right: 10px;
    padding: 0;
}

.pagination span.dots {
    padding: 0;
    color: gainsboro;
}

.pagination span.current {
    background-color: #ccc;
    color: #fff;
}

.sns-cnt-cache a.button {
    font-size: 12px;
    padding: 1px 5px;
    height: 20px;
    line-height: 15px;
}